@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url(blog-ivan.css);


form{
    padding-left: 15%;
    padding-right: 15%;
    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}


.content-form{
    justify-content: center;
    width: 100%;
    font-size: 15px;
    padding: 5px 10px;
    flex-direction: column;
    align-items: stretch;
    display: flex;
    gap: 10px;
}


#name, #lastname, #phone, #message {
    border-radius: 5px;
    border-style: none;
    border: 1px solid #817e7e;
    width: 100%;
    resize: none;
    background-color:rgb(13,17,23);
    color: white;
    font-family:  'Inter', sans-serif;

}




.submit{
    border-radius: 15px;
    color: rgb(0,186,219);
    cursor: pointer;
    border: 2px solid rgb(0,186,219);
}

.submit:hover{
    background-color: rgb(0,186,219);
    color: rgb(13,17,23);
}






