@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url(blog-ivan.css);


.timeline{
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
    height: 200px;
}


.timeline-content{
    background-color: brown;
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
    text-align: center;
}



.timeline-content:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}


.timeline-content-body {
    opacity: 0;
    padding: 10px 10px;
    text-align: justify;
}

.timeline-content:hover .timeline-content-body {
    opacity: 1;
    transition: opacity 2s ease-in;
    font: bold;
}








